body {
  //-webkit-overflow-scrolling: touch;

  .back-bar {
    background: #eee;
    padding: 25px 15px 10px;
    position: fixed;
    width: 100%;

    i {
      font-size: 25px;
      color: #7b7b7b;
      font-weight: bold;
    }
  }

  &.overlay {
    overflow: hidden;
    position: fixed;
  }
  &.pushable>.pusher {
    background: transparent;
    height: 100%;
    overflow-y: scroll;
  }
}

.ptr-loading #feed-stream {
  -webkit-transform: translate3d( 0, 50px, 0 );
  transform: translate3d( 0, 50px, 0 );
}

#logo img {
  width: 30px;
}

.ui.fluid.card {
  border-radius: 0;
  margin: 15px 0;
  box-shadow: none;

  h2.ui.header {
    font-size: 1.5em;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

#feed-stream {
  background: #eee;
  padding-bottom: 100px;
  padding-top: 5px;
  overflow-y: scroll;
  position: fixed;
  height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  .actions {
    float: right;
  }
}

/**
Top Bar
**/
#logo {
  float: left;
  margin-left: 10px;
  margin-top: 4px;
}

#top-bar {
  position: fixed;
  background: $green;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 25px 0 10px;

  .icon.bars {
    color: #fff;
    font-size: 1.5em;
    float: right;
    margin-top: 5px;
    margin-left: 6px;
    margin-right: 12px;
  }

  .avatar {
    color: $green;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #fff;
    float: right;
    text-align: center;
    line-height: 2.1em;
    text-transform: uppercase;
  }
}

/**
Settings Overlay
**/
#settings-overlay, #manage-feeds, #read-article {
  position: fixed;
  top: 0;
  left: 200px;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 1);
  z-index: 9999;

  .content {
    margin-top: 10px;
    padding-top: 60px;
  }
  &.ng-hide {
    left: 500px;
  }
}

#manage-feeds, #read-article {
  background: rgba(255, 255, 255, 1);
  overflow-y: scroll;
  padding-bottom: 75px;
  opacity: 1;
  left: 0;
  -webkit-overflow-scrolling: touch;

  &.animate {
    -webkit-transition: all ease 0.4s;
    transition: all ease 0.4s;
  }

  &.swiping {
    overflow: hidden;
  }

  &.ng-hide {
    left: 0;
    opacity: 0;
  }

  .item {
    margin: 15px 0;
  }
  .remove.circle {
    color: #ccc;
  }
}

/**
Bottom Bar
**/
#utility-bar {
  position: fixed;
  bottom: 0;
  height: 45px;
  background: #333;
  left: 0;
  width: 100%;
  z-index: 999;
  color: #fff;

  .block.layout.icon {
    float: right;
    font-size: 30px;
    margin-top: 13px;
  }
  #user-manage-menu .popout {
    display: none;
    padding: 15px;
    position: absolute;
    top: -86px;
    background: #333;
    height: 100px;
    left: 14px;
    width: 200px;
  }
  #user-manage-menu:hover .popout {
    display: block;
  }
  .line {
    line-height: 3.1em;
    float: left;
    margin-left: 15px;
  }
  .ui.slider.checkbox {
    padding: 5px 3px 4px 13px;
  }
}