[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body, html.ios, html.ios body {
  margin: 0;
  padding: 0;
  height: 100% !important;
  overflow: hidden;
}

body {
  position: relative;

  .pusher {
    height: 100%;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
div[ng-view] {
  height: 100%;
}
.pointer {
  cursor: pointer;
}

@import "variables";
@import "readArticleComponent";
@import "feedsPage";
@import "addFeedsPage";
@import "welcomePage";
@import "sidebar";

//components
@import "manageFeedsComponent";
@import "feedDropdownComponent";

//vendors
@import "../bower_components/web-pull-to-refresh/base";
