<div class="app">

    <!--Overlays-->

    <div class="ui active inverted dimmer" ng-show="loading">
        <div class="ui text loader">Loading</div>
    </div>

    <div id="settings-overlay" ng-show="showSettings">
        <div class="ui container">
            <i class="remove circle outline icon pointer" ng-click="toggleSettings()"></i>

            <div class="content">
                <a class="ui button" href="#/add-feeds">Add Feeds</a>
                <button class="ui button" ng-click="logout()">Logout</button>
            </div>
        </div>
    </div>

    <div id="manage-feeds" ng-show="showManageFeeds">
        <div class="ui container">
            <i class="remove circle outline icon pointer" ng-click="toggleManageFeeds()"></i>

            <div class="content">
                <h3>Active Feeds</h3>
                <managefeedscomponent></managefeedscomponent>
            </div>
        </div>
    </div>

    <div id="read-article" ng-show="showReadArticle">
        <div class="back-bar">
            <i class="angle left icon" ng-click="toggleReadArticle()"></i>
        </div>
        <div class="ui container">
            <!--<i class="remove circle outline icon pointer"></i>-->
            <div class="content">
                <readarticlecomponent article="articleToRead"></readarticlecomponent>
            </div>
        </div>
    </div>

    <!--End Overlays-->

    <div id="top-bar">
        <div id="logo">
            <a href="/">
                <img src="https://s3-us-west-2.amazonaws.com/news-io/img/logo-white-abb.png"
                     class="img-responsive">
            </a>
        </div>
        <i class="bars icon pointer" aria-hidden="true" ng-click="toggleSettings()"></i>
        <!--<div class="avatar">{{user.initials}}</div>-->
    </div>

    <div id="ptr">
        <!-- Pull down arrow indicator -->
        <span class="genericon genericon-next"></span>

        <!-- CSS-based loading indicator -->
        <div class="loading">
            <span id="l1"></span>
            <span id="l2"></span>
            <span id="l3"></span>
        </div>
    </div>
    <div id="feed-stream">
        <div id="articles-contain">
            <div class="ui container">
                <div ng-repeat="article in articles" class="list-article">
                    <div class="ui fluid card">
                        <div class="content">
                            <article article="article" view="articleView" saved="showSaved"></article>
                        </div>
                    </div>
                </div>
                <button class="fluid ui button" ng-click="getMoreArticles()" ng-show="!showSaved">Load More</button>
            </div>
        </div>
    </div>

    <!--<div class="push" id="push">-->
        <!--&lt;!&ndash;<div class="ui thin sidebar visible" id="sidebar">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="item" ng-class="{'active': !articleFilter && !showSaved}">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="#feeds" ng-click="filterArticles(false)">All</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="item" ng-class="{'active': articleFilter == feed.id && !showSaved}" ng-repeat="feed in user.feeds">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="#feeds" ng-click="filterArticles(feed.id)"><img ng-if="feed.icon_name" ng-src="https://s3-us-west-2.amazonaws.com/news-io/icons/{{feed.icon_name}}.png"></a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!---->
    <!--</div>-->

    <div id="utility-bar">
        <feeddropdowncomponent values="user.feeds"></feeddropdowncomponent>
    </div>
</div>