<div class="app">

    <!--Overlays-->

    <div id="settings-overlay" ng-show="showSettings">
        <div class="ui container">
            <i class="remove circle outline icon pointer" ng-click="toggleSettings()"></i>

            <div class="content">
                <button class="ui button" ng-click="logout()">Logout</button>
            </div>
        </div>
    </div>

    <div id="manage-feeds" ng-show="showManageFeeds">
        <div class="ui container">
            <i class="remove circle outline icon pointer" ng-click="toggleManageFeeds()"></i>

            <div class="content">
                <h3>Active Feeds</h3>
                <managefeedscomponent></managefeedscomponent>
            </div>
        </div>
    </div>

    <div id="read-article" ng-show="showReadArticle">
        <div class="ui container">
            <i class="remove circle outline icon pointer" ng-click="toggleReadArticle()"></i>
            <div class="content">
                <readarticlecomponent article="articleToRead"></readarticlecomponent>
            </div>
        </div>
    </div>

    <!--End Overlays-->

    <div id="top-bar">
        <div id="logo">
            <a href="/">
                <img src="https://s3-us-west-2.amazonaws.com/news-io/img/logo-white-abb.png"
                     class="img-responsive">
            </a>
        </div>
        <i class="setting icon pointer" ng-click="toggleSettings()"></i>
        <div class="avatar">{{user.initials}}</div>
    </div>

    <div class="push" id="push">
        <!--<div class="ui thin sidebar visible" id="sidebar">-->
            <!--<div class="item" ng-class="{'active': !articleFilter && !showSaved}">-->
                <!--<a href="#feeds" ng-click="filterArticles(false)">All</a>-->
            <!--</div>-->
            <!--<div class="item" ng-class="{'active': articleFilter == feed.id && !showSaved}" ng-repeat="feed in user.feeds">-->
                <!--<a href="#feeds" ng-click="filterArticles(feed.id)"><img ng-if="feed.icon_name" ng-src="https://s3-us-west-2.amazonaws.com/news-io/icons/{{feed.icon_name}}.png"></a>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div id="content">-->
            <!--&lt;!&ndash; Content that should be draggable for refreshing goes in here &ndash;&gt;-->
        <!--</div>-->

        <div id="ptr">
            <!-- Pull down arrow indicator -->
            <span class="genericon genericon-next"></span>

            <!-- CSS-based loading indicator -->
            <div class="loading">
                <span id="l1"></span>
                <span id="l2"></span>
                <span id="l3"></span>
            </div>
        </div>

        <div id="feed-stream">
            <div class="ui container">
                <div ng-repeat="article in articles" class="list-article">
                    <div class="ui fluid card">
                        <div class="content">
                            <article article="article" view="articleView"></article>
                        </div>
                    </div>
                </div>
                <button class="fluid ui button" ng-click="getMoreArticles()">Load More</button>
            </div>
        </div>
    </div>

    <div id="utility-bar">
        <feeddropdowncomponent values="user.feeds"></feeddropdowncomponent>
        <!--<div class="">-->
            <!--&lt;!&ndash;<div id="user-manage-menu">&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="avatar">{{user.initials}}</div><span class="name">{{user.name}}</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="popout">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div ng-click="showMangeFeedsModal()"><i class="configure icon"></i>Manage Feeds</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div ng-click="showNewFeedModal()"><i class="plus icon"></i>Add New Feed</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div ng-click="showSavedArticles()"><i class="archive icon"></i>{{savedArticles.length}} Saved Articles</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->

            <!--&lt;!&ndash;<div class="line">&ndash;&gt;-->
                <!--&lt;!&ndash;<span>Grid View</span>&ndash;&gt;-->
                <!--&lt;!&ndash;<div class="ui slider checkbox">&ndash;&gt;-->
                    <!--&lt;!&ndash;<input type="checkbox" name="public" ng-change="toggleView(toggle)" ng-model="toggle" ng-init="toggle=articleView">&ndash;&gt;-->
                    <!--&lt;!&ndash;<label></label>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;<span>List View</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--<div class="line">-->
                <!--&lt;!&ndash;<div class="ui floating labeled icon dropdown button">&ndash;&gt;-->
                    <!--&lt;!&ndash;<i class="add user icon"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;<span class="text">Add User</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="menu">&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="header">&ndash;&gt;-->
                            <!--&lt;!&ndash;People You Might Know&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
                            <!--&lt;!&ndash;<img class="ui avatar image" src="/images/avatar/small/jenny.jpg">&ndash;&gt;-->
                            <!--&lt;!&ndash;Jenny Hess&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
                            <!--&lt;!&ndash;<img class="ui avatar image" src="/images/avatar/small/elliot.jpg">&ndash;&gt;-->
                            <!--&lt;!&ndash;Elliot Fu&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
                            <!--&lt;!&ndash;<img class="ui avatar image" src="/images/avatar/small/stevie.jpg">&ndash;&gt;-->
                            <!--&lt;!&ndash;Stevie Feliciano&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="header">&ndash;&gt;-->
                            <!--&lt;!&ndash;Your Friends' Friends&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
                            <!--&lt;!&ndash;<img class="ui avatar image" src="/images/avatar/small/christian.jpg">&ndash;&gt;-->
                            <!--&lt;!&ndash;Christian&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
                            <!--&lt;!&ndash;<img class="ui avatar image" src="/images/avatar/small/matt.jpg">&ndash;&gt;-->
                            <!--&lt;!&ndash;Matt&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div class="item">&ndash;&gt;-->
                            <!--&lt;!&ndash;<img class="ui avatar image" src="/images/avatar/small/justen.jpg">&ndash;&gt;-->
                            <!--&lt;!&ndash;Justen Kitsune&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
            <!--<i class="block layout icon" ng-click="toggleManageFeeds()"></i>-->

            <!--&lt;!&ndash;<a class="ui button right floated" href="/auth/logout">Logout</a>&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;<div ng-if="!user" class="ui grid">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="sixteen wide column">&ndash;&gt;-->
                <!--&lt;!&ndash;<button class="ui button right floated" ng-click="showLoginModal()">Login/Register</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    </div>

    <!--<modal header="{{articleToRead.article_title}}" modal-id="readArticleModal">-->
        <!--<readarticlecomponent article="articleToRead"></readarticlecomponent>-->
    <!--</modal>-->
</div>