<div id="welcome">
    <div class="ui container center aligned">
        <img src="https://s3-us-west-2.amazonaws.com/news-io/img/logo-white.png">

        <h2 class="ui header">Hello & Welcome</h2>
        <p>SnugFeed let's you read all your favorite news feeds in one place.<br/><br/>Login with an existing
            account or create a new one.</p>

        <div id="login-or-signup">
            <button class="fluid ui huge positive button" ng-click="vm.showLogin()">Login</button>
            <button class="fluid ui huge positive button" ng-click="vm.showRegister()">Sign Up</button>
        </div>
    </div>
</div>