* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
div[ng-view] {
    height: 100%;
}
#logo img {
    width: 30px;
}

.ui.fluid.card img {
    max-width: 100%;
    height: auto;
}
.ui.fluid.card {
    border-radius: 0;
    margin: 15px 0;
}
#sidebar {
    width: 45px;
    padding: 10px;
    background: #EEE;
    top: 65px;
}
#sidebar img {
    width: 25px;
}
#sidebar .item {
    margin: 10px 0;
}
#feed-stream {
    margin-left: 45px;
}

#welcome {
    background: #21BA45;
    height: 100%;
}
#welcome img {
    width: 100%;
    margin-top: 200px;
    max-width: 200px;
}

.push {
    margin-top: 80px;
}

.pointer {
    cursor: pointer;
}

/**
Top Bar
**/
#logo {
    float: left;
    margin-left: 10px;
    margin-top: 4px;
}
#top-bar {
    position: fixed;
    background: #ccc;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 25px 0 10px;
}
#top-bar .icon.setting {
    color: #333;
    font-size: 1.5em;
    float: right;
    margin-top: 5px;
    margin-left: 6px;
    margin-right: 12px;
}
#top-bar .avatar {
    color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #21BA45;
    float: right;
    text-align: center;
    line-height: 2.1em;
    text-transform: uppercase;
}

/**
Settings Overlay
**/
#settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.96);
    z-index: 9999;
    transition: all ease 0.5s;
}
#settings-overlay .remove.circle {
    color: #fff;
    position: absolute;
    left: 10px;
    top: 30px;
    font-size: 2em;
}
#settings-overlay .content {
    margin-top: 70px;
}
#settings-overlay.ng-hide {
    left: 500px;
}

/**
Bottom Bar
**/
#utility-bar {
    position: fixed;
    bottom: 0;
    height: 45px;
    background: #333;
    left: 0;
    width: 100%;
    z-index: 999;
    color: #fff;
}
#utility-bar .avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #21BA45;
    float: left;
    text-align: center;
    line-height: 2.1em;
    text-transform: uppercase;
}
#utility-bar #user-manage-menu {
    cursor: pointer;
    width: 110px;
    float: left;
    background: #444;
    height: 45px;
    padding: 7px;
}
#utility-bar span.name {
    color: #fff;
    line-height: 2.1em;
    margin-left: 10px;
}
#utility-bar #user-manage-menu .popout {
    display: none;
    padding: 15px;
    position: absolute;
    top: -86px;
    background: #333;
    height: 100px;
    left: 14px;
    width: 200px;
}
#utility-bar #user-manage-menu:hover .popout {
    display: block;
}
#utility-bar .line {
    line-height: 3.1em;
    float: left;
    margin-left: 15px;
}
#utility-bar .ui.slider.checkbox {
    padding: 5px 3px 4px 13px;
}